doctype html
html
  head
    //- Google tag (gtag.js)
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-XEGHJM83T2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-XEGHJM83T2');
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Title' content='OPP')
    meta(property='og:title' content='OPP')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://oopppp.xyz')
    meta(name='Description' content='OPP는 온라인 환경에서의 출판 방법을 모색하는 일시적 프로젝트 그룹입니다. 매번 다른 사람들이 모여 온라인 전시회를 연 뒤 미련 없이 헤어집니다. 디자인을 매개로 멋진 동료들을 찾는 데에 목적이 있습니다.')
    meta(property='og:description' content='OPP는 온라인 환경에서의 출판 방법을 모색하는 일시적 프로젝트 그룹입니다. 매번 다른 사람들이 모여 온라인 전시회를 연 뒤 미련 없이 헤어집니다. 디자인을 매개로 멋진 동료들을 찾는 데에 목적이 있습니다.')
    meta(property='og:image' content='/assets/images/meta/og-opp.jpg')
    link(rel='icon' href='/assets/images/favicon/favicon.svg')
    link(rel='mask-icon' href='/assets/images/favicon/favicon.svg' color='#000000')
    link(rel='apple-touch-icon' sizes='57x57' href='/assets/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='/assets/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/assets/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/assets/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/assets/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/assets/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='/assets/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/assets/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/assets/images/favicon/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='/assets/images/favicon/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/assets/images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='/assets/images/favicon/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/assets/images/favicon/favicon-16x16.png')
    meta(name='msapplication-TileImage' content='/assets/images/favicon/ms-icon-144x144.png')
    title OPP
    link(rel='stylesheet' href='https://use.typekit.net/osz6zna.css')
    link(rel='stylesheet' href='/assets/styles/main.css')
    script(src='/assets/scripts/cssbrowserselector.js')
    script(src='/assets/scripts/main.js' defer)
    script(src='/assets/scripts/seokki-hangul-beta.js' defer)
  body
    #container
      section#main
        p.ko.tt OPP는 온라인 환경에서의 출판 방법을 모색하는 일시적 프로젝트 그룹입니다. 매번 다른 사람들이 모여 온라인 전시회를 연 뒤 미련 없이 헤어집니다. 디자인을 매개로 멋진 동료들을 찾는 데에 목적이 있습니다.
        p.en OPP is a temporary group of projects exploring ways to publish in an online environment. Each time, different people gather together to hold an online exhibition and then part ways without any regrets. It aims to find cool colleagues to work with through the medium of design.

      section#upcoming-project
        h2 Upcoming Project
        ul
          li
            a(href='' target='_self')
              img(src='/assets/images/public/opp-2025-summer-missedcall.png' alt='')
            a(href='' target='_self')
              .title OPP 2025 SUMMER «Missed Call»

      section#past-project
        h2 Past Project
        ul
          li
            a(href='/2024' target='_self')
              img(src='/assets/images/public/opp-2024-spring-newface.png' alt='')
            a(href='/2024' target='_self')
              .title OPP 2024 SPRING «New Face»
          li
            a(href='/2021' target='_self')
              img(src='/assets/images/public/opp-2021-summer-shippingroom.png' alt='')
            a(href='/2021' target='_self')
              .title OPP 2021 SUMMER «Shipping Room»

      footer#footer