doctype html
html
  head
    //- Google tag (gtag.js)
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-XEGHJM83T2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-XEGHJM83T2');
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Title' content='오이스터 OYSTER - OPP 2025 SUMMER «Missed Call»')
    meta(property='og:title' content='오이스터 OYSTER - OPP 2025 SUMMER «Missed Call»')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://oopppp.xyz/2025/jeongwon')
    meta(name='Description' content='OPP의 2025년 여름 구성원들은 404 에러 페이지의 개념을 각기 다른 관점과 방법으로 연구하고 웹페이지로 만들었습니다. 7개의 웹페이지가 6월 30일부터 7주간, 매주 금요일 오후 6시에 하나씩 공개됩니다.')
    meta(property='og:description' content='OPP의 2025년 여름 구성원들은 404 에러 페이지의 개념을 각기 다른 관점과 방법으로 연구하고 웹페이지로 만들었습니다. 7개의 웹페이지가 6월 30일부터 7주간, 매주 금요일 오후 6시에 하나씩 공개됩니다.')
    meta(name='theme-color' content='#C0C0C0')
    title 오이스터 OYSTER - OPP 2025 SUMMER «Missed Call»
    link(rel='stylesheet' href='./src/styles/style.css')
    script(src='/assets/scripts/cssbrowserselector.js')
    script(src='/2025/assets/scripts/seokkihangul-beta.js' defer)
    script(src='./src/scripts/script.js' defer)

  body
    #container
      #header.section
        p.tt 오이스터 OYSTER
      .section
        p.tt 오이스터는 단단한 패각 안에 말랑한 몸체를 지니고 있는 굴의 특징에서 영감을 받은 활자가족입니다. 각진 외곽선과 둥근 내부선이 지면과 화면에 독특한 질감을 형성합니다. 울트라라이트부터 블랙까지 8종의 굵기로 제공됩니다.
        .caption-r.tt 레귤러
      .section
        span.tt 이 웹페이지의 로마자와 숫자, 문장부호에는 Helvetica Neue를 사용했습니다.
        .caption-r.tt 레귤러
      .section
        p.tt 각 블록을 눌러보세요.
        .caption-r.tt 레귤러
      .section
        p.tt 굴은 바다에서 사는 굴과 연체동물 가운데 먹는 것의 총칭이다. 바위에 붙어 살기 때문에 석화라고도 한다. 조개껍데기 속에는 부드러운 몸체가 있다. 아가미는 음식물을 모아 위에서 소화하도록 하며, 안쪽의 내전근으로 껍질을 여닫는다.
        .caption-l.tt 굴 - 위키백과
        .caption-r.tt 레귤러
      .section.o03
        p.tt 네 스타일은 다 맞아, 그게 너라서 더 좋아.
        .caption-l.tt STYLE - Hearts2Hearts
        .caption-r.tt 라이트
      .section.o03
        p.tt 글자를 그리면 더 추가할 거예요.
        .caption-r.tt 라이트
      .section.o03
        p.tt 한편 굴은 미국 공익과학센터(CSPI)가 미국 질병통제예방센터(CDC)의 자료를 토대로 열거한 가장 위험한 음식에서 4위를 차지하기도 하였다. […] 굴은 영양가가 풍부해 ‘바다의 우유’라고도 불린다. 가을부터 겨울 동안에 영양가가 높고 맛이 좋다.
        .caption-l.tt 굴 - 위키백과
        .caption-r.tt 라이트
      .section.word.o05
        p.tt 풋사과
        .caption-r.tt 미디움
      .section.o05
        p.tt 걸리버 여행기의 작가 조나단 스위프트는 “굴을 처음 먹어본 사람은 매우 용감한 사람이었을 것이다”라고 말했다. 선사시대부터 굴을 먹었다는 흔적은 굴 무덤이 세계 곳곳에서 발견된다는 것으로 알 수 있다.
        .caption-l.tt 굴 - 위키백과
        .caption-r.tt 미디움
      .section.o06
        p.tt 한국에서 통영은 전체 생산량의 70%를 차지하고 있으며 마른굴, 훈제굴의 형태로 미국과 일본 등으로 매년 수출된다. 중국에서 인기를 끌어 통영굴의 중국수출이 증가하고 있다.
        .caption-l.tt 굴 - 위키백과
        .caption-r.tt 세미볼드
      .section.word.o06
        p.tt 지구평평설
        .caption-r.tt 세미볼드
      .section.word.o07
        p.tt 형태
        .caption-r.tt 볼드
      .section.word.o08
        p.tt 생태계
        .caption-r.tt 엑스트라볼드
      .section.o09
        p.tt 힘든 세상살이 기세로 버텨.
        .caption-r.tt 블랙
      .section
        p.tt © 2025 한정원.
        .caption-r.tt 레귤러