html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-size: 1rem;
  line-height: 1.625;
  word-break: keep-all;
  cursor: default;
}

html {
  font-size: 13px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-image: url("../img/1.jpg");
  background-position: center center;
  transition: background 1s;
  will-change: background;
}

body,
button,
input,
select,
textarea {
  font-family: Noto Sans KR', sans-serif;
}

html.step-1 {
  background-size: 500%;
  background-position: center center;
}

html.step-2 {
  background-size: 400%;
  background-position: center top;
}

html.step-3 {
  background-size: 300%;
}

html.step-4 {
  background-size: 200%;
}

html.step-5 {
  background-size: 100%;
}

html.step-6 {
  background-size: 75%;
}

html.step-7 {
  background-size: 50%;
}

html.step-8 {
  background-size: 25%;
}

html.step-9 {
  background-size: 12.5%;
}

body {
  font-size: 1rem;
  line-height: 1.625;
  word-break: keep-all;
  cursor: default;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  padding: .75rem 1.25rem;
  text-align: center;
  color: yellow;
  background-color: black;
  border: 5px outset #938C97;
  box-shadow: .25rem .25rem 1rem -.75rem whitesmoke;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  h1 {
    top: auto;
    right: 1.5rem;
    bottom: 1.5rem;
    left: auto;
    transform: none;
  }
}

h1 span {
  animation: blink 0.8s infinite alternate;
  will-change: opacity;
}

@keyframes blink {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}