@font-face {
  font-family: "glyphs";
  font-weight: 500;
  src: url("/assets/fonts/Glyphs-Medium.woff2") format("woff2");
  src: url("/assets/fonts/Glyphs-Medium.woff") format("woff");
}
@font-face {
  font-family: "gothic-a1";
  font-weight: 500;
  src: url("/assets/fonts/GothicA1-SemiBold-Custom.woff2") format("woff2");
  src: url("/assets/fonts/GothicA1-SemiBold-Custom.woff") format("woff");
}
* {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-display: block;
  font-style: normal;
  word-break: keep-all;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  vertical-align: baseline;
  background-color: transparent;
}

img {
  display: block;
}

input:focus, textarea:focus {
  outline: none;
}

a, a:hover, a:visited {
  color: #000;
  cursor: pointer;
  user-select: none;
}

button {
  color: #000;
  cursor: pointer;
  user-select: none;
}

.win body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 0.2px;
}

body, button {
  font-family: acumin-pro, gothic-a1, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.002em;
  line-height: 1;
}
@media (max-width: 900px) {
  body, button {
    font-size: 15px;
  }
}

.ko {
  line-height: 1.54;
  word-spacing: -0.05em;
}

.en {
  line-height: 1.45;
}

.tt .ff {
  position: relative;
  bottom: 0.009em;
  font-size: 87%;
  letter-spacing: -0.01em;
  line-height: 1;
}

h1, h2, h3, h4 {
  font-family: acumin-pro-condensed, gothic-a1, sans-serif;
  font-weight: 700;
  font-size: 44px;
  font-optical-sizing: none;
}
@media (max-width: 900px) {
  h1, h2, h3, h4 {
    font-size: 34px;
  }
}

body {
  background: #e0e0e0;
  letter-spacing: -0.01em;
  word-spacing: 0.05em;
}

footer {
  position: fixed;
  bottom: 20px;
  left: 0;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
@media (max-width: 900px) {
  footer {
    bottom: 40px;
    font-size: 15px;
  }
}

#under-construction {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 120px);
  padding: 100px 30px;
}
#under-construction img {
  width: 100%;
  max-width: 500px;
  margin-bottom: 60px;
}
#under-construction p {
  font-weight: 700;
  font-size: 28px;
}
@media (max-width: 900px) {
  #under-construction {
    height: calc(100vh - 140px);
    padding: 0px 20px;
  }
  #under-construction img {
    width: 70%;
    margin-bottom: 36px;
  }
  #under-construction p {
    font-size: 17px;
  }
}